{{ define "main" }}
<article>
    <div class="main-container">
        <div class="article-text-info">
            <h1>{{ .Title }}</h1>
            <p><strong>Autor:</strong> {{ .Params.author }}</p>
            <p><strong>Categorías:</strong>
                {{ with .Params.categories }}
                    {{ range . }} {{ . }}, {{ end }}
                {{ end }}
            </p>
            <p><strong>Tags:</strong>
                {{ with .Params.tags }}
                    {{ range . }} {{ . }}, {{ end }}
                {{ end }}
            </p>
            {{ with .Params.description }}
                <p><strong>Descripción:</strong> {{ . }}</p>
            {{ end }}
        </div>
        <div class="article-content">
            {{ .Content }}
        </div>
    </div>
</article>
{{ end }}

