{{ define "main" }}
<div class ="main-container">
       <div class="row align-items-center">
      <div class="col-md-6">
        <img src="/images/macrina.jpg" alt="Imagen principal" class="img-fluid rounded">
      </div>
      <!-- 📝 Texto (Columna Derecha) -->
      <div class="col-md-6 text-section">
        <p class="lead">Bienvenido a nuestra colección abierta de textos patrísticos, para leer ve a
                <span style="font-weight:bold;"> Padres.<span> </p>
        <h1 class="main-title">Exploremos juntos la sabiduria de los padres de la Iglesia</h1>
      </div>
    </div>

</div>
{{ end }}
