{{ define "main" }}
<body>
    <div class="main-container container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="display-1 fw-bold">404</h1>
                <p class="lead">Oops! Parece que lo que estas buscando esta en el gehena.</p>
            </div>
            <div class="col-md-6 text-center">
                <img class="img-404 img-fluid" src="{{ "/images/hell.jpg" }}" alt="Hell Image">
            </div>
        </div>
    </div>
</body>
{{ end }}

