<nav class="navbar navbar-expand-lg">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
      <img src="{{ "/images/soter.svg" | relURL }}" alt="Logo" class="logo">
      SOTER KATHOLIKOS
    </a>

    <!-- Botón hamburguesa para móviles -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex search-form">
    <input class="form-control search-input" type="text" id="search" placeholder="Buscar..." aria-label="Search">
    <button class="btn btn-search" type="button" id="search-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
    </button>
    </form>


    <!-- Contenido de la navbar -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/about">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/padres-de-la-iglesia">Padres</a>
        </li>
      </ul>
    </div>
    <button id="dark-mode-toggle" class="btn btn-dark-mode" aria-label="Toggle dark mode">
    🌙
    </button>

  </div>
</nav>

